py/__pycache__/eagle_api.cpython-312.pyc
py/settings.json
py/__pycache__/settings.cpython-312.pyc
py/__pycache__/eagle_autosend.cpython-312.pyc
__pycache__/__init__.cpython-312.pyc
py/settings.json
py/settings.json
